.Banner {
	.item {
		height: 500px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&._home {
			height: 440px;
		}

		&._sobre {
			height: 250px;
			background-attachment: fixed;

			h1 {
				padding: 50px 0 0 50px;
				width: 70%;
				color: #fff;

				&._contato {
					padding-top: 110px;
					text-transform: uppercase;
				}
			}

			&:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: rgb(255,255,255); 
                background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%); 
                background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%); 
                background: linear-gradient(to top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
            }
		}
	}

	@include breakpoint(0, $lg) {
		.item {
			height: 400px;

			&._home {
				height: 340px;
			}
		}
	}

	@include breakpoint(0, $md) {
		.item {
			height: 350px;

			&._home {
				height: 290px;
			}

			&._sobre {
				height: 200px;

				h1 {
				    font-size: 33px;

				    &._contato {
				    	padding-top: 80px;
				    }
				}
			}
		}
	}

	@include breakpoint(0, $sm) {
		.item {
			height: 250px;

			&._home {
				height: 190px;
			}

			&._sobre {
				height: 180px;

				h1 {
					padding-top: 30px;
				    font-size: 29px;
				}
			}
		}
	}

	@include breakpoint(0, $xs) {
		.item {
			height: 150px;

			&._home {
				height: 130px;
			}

			&._sobre {
				h1 {
					padding-left: 10px;
					width: 95%;
					font-size: 25px;
				}
			}
		}
	}
}

