.Contato {
	margin-top: 50px;

	.Row {
		padding-left: 50px;

		.infos {
			padding: 70px 0 0 30px;

			.endereco {
				margin-left: 30px;

				.titulo {
					margin: 20px 0 10px 0;
				}
			}

			.redes-sociais { 
				display: inline-block;
				margin-bottom: 7px;
				list-style: none;

				li {
					display: inline-block;

					a {
						display: inline-block;
						position: relative;
						color: #fff;
						background-color: #2D2D2D;
						font-size: 25px;
						border: 2px solid #fff;
						border-radius: 50%;
						text-decoration: none;

						&:hover {
							color: #2D2D2D;
							background-color: #fff;
							border: 2px solid #2D2D2D;
						}
					}
				}
			}
		}
	}

	@include breakpoint (0, $sm) {
		.Row {
			.infos {
				padding: 20px 0 60px 0;
			}
		}
	}

	@include breakpoint (0, $xs) {
		.Row {
			padding-left: 10px;
		}
	}
}