.Destaque {
	margin: 50px 0;

	.container {
		padding: 0 100px;
	}

	.Row {
		.texto {
			p {
				font-weight: 400;
			}
		}

		.imagem {
			.item {
				height: 280px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}

	@include breakpoint (0, $md) {
		.container {
			padding: 0 50px;
		}
	}
}