.Form {
	._modal-form-success {
		position: fixed;
		top: 3%;
		left: 3%;
		width: 94%;
		height: 94%;
		border-radius: 0;
		text-align: center;
		z-index: 99999;
		transition: 200ms;

		.text {
			@extend ._mid;
			width: 100%;
			left: 0;
		}

		.modal-close {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 20px;
			height: 20px;
			cursor: pointer;

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 9px;
				display: block;
				height: 20px;
				width: 1px;
				background-color: #333;
				opacity: 0.5;
			}

			&:hover {
				&:before,
				&:after {
					opacity: 1;
				}
			}
		}
	}

	.form-item {
		label {
			display: none;
		}

		input, textarea {
			font-weight: 500;
			border: none;
			border-bottom: 2px solid #2D2D2D;
		}

		.Button {
			&:hover {
				color: #2D2D2D;
				background-color: #fff;
				border: 2px solid #2D2D2D;
			}
		}
	}
}

@include breakpoint (0, $sm) {
	.Form {
		.form-item {
			input {
				width: 90%;
			}
		}
	}
}

@include breakpoint (0, $xs) {
	.Form {
		.form-item {
			input {
				width: 100%;
			}
		}
	}
}