.Header {
	.redes {
		padding: 5px 0;
		background-color: #2D2D2D;
		text-align: center;
		list-style: none;

		li {
			display: inline-block;

			a {
				display: inline-block;
				position: relative;
				color: #fff;
				background-color: #2D2D2D;
				font-size: 18px;
				text-decoration: none;

				span {    
					margin-left: 10px;
					font-size: 15px;
				}
			}
		}
	}

	.logo {
		display: block;
		position: relative;
		margin: 30px 0;
		text-align: center;

		img {
			display: inline-block;
			height: 100px;
		}
	}

	.menu {
		margin-bottom: 20px;
		text-align: center;

		.links {
			display: inline-block;

			li {
				position: relative;
				display: inline-block;
				vertical-align: middle;

				a {
					display: block;
				    margin: 0 20px;
					text-decoration: none;
				}

				&._active {
					a {
						color: #f9c446;
					}
				}

				&:hover {
					a {
						position: relative;

						&:after {
							content: '';
							position: absolute;
							bottom: -5px;
							right: 0;
							width: 100%;
							height: 1px;
							background-color: #b9b9b9;
						}
					}
				}
			}
		}
	}

	.menuToggle {
		display: none;
		position: absolute;
		top: 19px;
		left: 0;
		width: 51px;
		height: 51px;
		padding: 14px 12px;

		> div {
			display: block;
			height: 3px;
			background-color: #2D2D2D;
			margin-bottom: 5px;
		}

		.line1 {
			width: 20px;
		}

		.line2 {
			width: 17px;
		}

		.line3 {
			width: 13px;
		}
	}	
}

@include breakpoint (0, $lg) {
	.Header {
		.logo {
			margin: 10px 0;
		}
	}
}

@include breakpoint (0, $md) {
	.Header {
		.logo {
			margin: 0;
		}

		.menuToggle {
			display: block;
		}

		.menu {
			display: none;
			position: fixed;
			margin-left: 0;
			top: 0;
			left: 0;
			width: 55%;
			height: 100%;
			transition: height 1000ms;
			text-align: right;
			overflow-x: auto;
			background-color: #fff;
			z-index: 10;
			animation: fadeInLeft .5s;
			visibility: visible;

			.links {
				display: block;
				padding-top: 10px;

				 li {
				 	display: block;
					padding: 5px 7px;
					text-align: left;

					a {
						padding: 0;
						margin-left: 200px;
						font-size: 30px;
					}
				}
			}
		}
	}

	._toggled {

		.Header {

			.menu {
				display: block;
			}

			.menuToggle {
				z-index: 10;

				.line1 {
					top: 0;
					right: 3px;
					transform: rotate(-45deg);
					transition: 400ms;
				}

				.line2 {
					width: 20px;
					top: -8px;
					right: 3px;
					transform: rotate(45deg);
					transition: 400ms;
				}

				.line3 {
					display: none;
				}
			}
		}
	}
}

@include breakpoint(0, $sm) {
	.Header {
		.menu {
			.links {
				 li {
				 	
					a {
						margin-left: 20%;
					}
				}
			}
		}
	}
}

@include breakpoint(0, $sm) {
	.Header {
		.menu {
			.links {

				 li {
					a {
						margin-left: 30%;
						font-size: 22px;
					}
				}
			}
		}
	}
}