.Instagram {
	.imagens {
		a {
			display: flex;
		    flex-direction: row;
		    flex-wrap: wrap;
		    
			.imagem {
				display: inline-block;
				height: auto;
				width: 20%;
				padding-top: 20%;
				background-size: cover;
				background-position: center;
			}
		}
	}

	@include breakpoint (0, $sm) {
		.imagens {
			.imagem {
				width: 50%;
				padding-top: 50%;
			}
		}
	}
}