{% extends 'base.twig' %}

{% block conteudo %}

<section class="Banner">
        <div class="item _sobre" style="background-image: url({{ Image(post.banner_contato).src }})">
        	<div class="container">
	        	<h1 class="_contato">Fale com a gente!</h1>
        	</div>
        </div>
</section>

<section class="Contato">
	<div class="container">
		<div class="Row _gutters">
			<div class="col _col-6 forms wow fadeIn" data-wow-delay="500ms">
				{{ contato }}
			</div>
			<div class="col _col-6 infos">
				<ul class="redes-sociais">
	                {% for item in option('redes_sociais') %}
	                    {% if item.nome == 'instagram' %}
	                        <li><a href="{{ item.link }}" target="_blank"><i class="icon-instagram"></i></a></li>
	                    {% else %}
	                        <li><a href="{{ item.link }}" target="_blank"><i class="icon-facebook-1"></i></a></li>
	                    {% endif %}
	                {% endfor %}
	            </ul>
	            <div class="endereco wow fadeIn" data-wow-delay="500ms">
					<h3 class="titulo">telefone</h3><span>{{ option('telefones').0.telefone }}</span><br><span>{{ option('telefones').1.telefone }}</span>
					<h3 class="titulo">endereço</h3><span>{{ option('endereco') }}</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="Banner">
        <div class="item _sobre" style="background-image: url({{ Image(post.banner_contato).src }})"></div>
</section>

{% endblock %}