    <footer class="Footer">
        <div class="container _tac">
            <p>ZERO11 - Burger 'n' Bar</p>
            <small>Av. Alice de Moura Braghetto, 130 - City Ribeirão<br>Ribeirão Preto - SP, 14021-140 / Fone: 16.3235-3648</small>
        </div>
    </footer>

	<script src="{{ theme.link }}/assets/js/app.min.js"></script>

	<script>
    	// Web fonts
        WebFontConfig = {
            google: {
              families: ['Roboto+Condensed:300,400,700', 'Lato:400,700']
            },
            custom: {
                families: ['fontello'],
                urls: ['{{ theme.link }}/assets/fonts/fontello/css/fontello.css']
            }
        };

       (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();

    </script>

	{# inserindo script mapa #}
	{{ fn('get_option_mapa') }}
    
	{{ wp_footer }}
</body>
</html>
