{% extends 'base.twig' %}

{% block conteudo %}

<section class="Banner">
	<div data-component="banner">
    	{% for item in post.get_field('banners') %}
	        <div class="item wow fadeIn" data-wow-delay="200ms" style="background-image: url({{ Image(item.imagem).src }})"></div>
	    {% endfor %}
    </div>
</section>

<section class="Destaque">
	<div class="container">
		<div class="Row _gutters">
			<div class="col _col-6 texto">
				<p>{{ post.get_field('sobre_texto') }}</p>
			</div>
			<div class="col _col-6 imagem">
				<div class="item wow fadeIn" data-wow-delay="200ms" style="background-image: url({{ Image(post.sobre_imagem).src }})"></div>
			</div>
		</div>
	</div>
</section>

<section class="Banner">
	<div class="item _home wow fadeIn" data-wow-delay="200ms" style="background-image: url({{ Image(post.imagem_destaque).src }})"></div>
</section>

{% endblock %}