<!DOCTYPE HTML>

<html lang="pt-BR">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" 			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" 	content="telephone=no">
	<meta property="og:type"        content="website"/>
	<meta property="og:title"       content="{{ wp_title ? wp_title ~ ' - ' }}{{ site.name }}"/>
	<meta property="og:description" content="{% if post.get_field('meta_description') %}{{ post.get_field('meta_description') }}{% else %}{{ option('meta_description') }}{% endif %}" />
	<meta property="og:image"       content="{% if post.get_field('imagem') %}{{ Image(post.get_field('imagem')) }}{% else %}{{ option('meta_imagem') }}{% endif %}" />
	<meta name="description" 		content="{% if post.get_field('meta_description') %}{{ post.get_field('meta_description') }}{% else %}{{ option('meta_description') }}{% endif %}" />

	{{ wp_head }}

	<title>{{ wp_title ? wp_title ~ ' - ' }}{{ site.name }}</title>

	<link rel="shortcut icon" href="{{ option('favicon') }}">

	<style>
		.wow {visibility: hidden;}
	</style>

	{# {% block _inline_css %}
		{% if fn('is_404') %}
		    <style>
		        {{ source ('/assets/critical/404_critical.min.css', ignore_missing = true) }}
		    </style>
		{% else %}
		    <style>
		        {{ source ('/assets/critical/' ~ fn('get_page_class') ~ '_critical.min.css', ignore_missing = true) }}
		    </style>
		{% endif %}
	{% endblock %} #}

	<link rel="stylesheet" type="text/css" href="{{ theme.link }}/assets/css/app.css">

</head>

<body class="{{ get_page_class() }}">
	<header class="Header">
		<div class="redes">
			{% for item in option('redes_sociais') %}
                {% if item.nome == 'instagram' %}
                    <li><a href="{{ item.link }}" target="_blank"><i class="icon-instagram"></i></a></li>
                {% else %}
                    <li><a href="{{ item.link }}" target="_blank"><i class="icon-facebook-1"></i><span>/zero11burger</span></a></li>
                {% endif %}
            {% endfor %}
		</div>
		<div class="container">
			<a href="{{ site.url }}" class="logo">
				<img src="{{ option('logo') }}" alt="icon-menu">
			</a>

			<nav class="menu">
				<ul class="links">
					<li class="{{ is_active('home') }}"><a href="{{ site.url }}">Home</a></li>
					<li class="{{ is_active('quem-somos') }}"><a href="{{ site.url }}/quem-somos">Quem Somos</a></li>
					<li class="{{ is_active('cardapio') }}"><a href="{{ site.url }}/cardapio">Cardápio</a></li>
					<li class="{{ is_active('contato') }}"><a href="{{ site.url}}/contato">Contato</a></li>
				</ul>
			</nav>

			<a href="#" class="menuToggle" data-component="toggle" data-type="menu">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</a>
		</div>
	</header>