{% extends 'base.twig' %}

{% block conteudo %}

<section class="Banner">
        <div class="item _sobre" style="background-image: url({{ Image(post.banner_sobre).src }})">
        	<div class="container">
	        	<h1>{{ post.get_field('titulo_sobre') }}</h1>
        	</div>
        </div>
</section>

<section class="Sobre">
	<div class="container">
		<p>{{ post.get_field('texto_sobre') }}</p>
	</div>

	<div class="Instagram">
		<div class="imagens">
			<a href="https://www.instagram.com/zero11burger/?hl=pt-br" target="_blank">
				{% for item in instagram %}
					<div class="imagem" style="background-image: url({{ item }})"></div>
				{% endfor %}
			</a>
		</div>
	</div>
</section>

{% endblock %}