
.icon-download:before { content: '\e800'; } /* '' */
.icon-down:before { content: '\e804'; } /* '' */
.icon-left:before { content: '\e805'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-up:before { content: '\e807'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-pinterest:before { content: '\f0d3'; } /* '' */
.icon-gplus:before { content: '\f0d4'; } /* '' */
.icon-youtube:before { content: '\f166'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-mail:before { content: '\f199'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */