// COLORS
// ============================================================================

// Texts
$color-text:                  #2D2D2D;
$color-headings:              #0d0d0e;

// Links
$color-link:                  #2D2D2D;
$color-link-hover:            #f9c446;

// Buttons
$color-button-primary:        #000;
$color-button-primary-text:   #ffffff;
$color-button-secondary:      #313439;
$color-button-secondary-text: #ffffff;

// FONT
// ============================================================================

// Font families
$font-family:		'Roboto Condensed', sans-serif;
$font-family-headings:  'Lato';

// Texts sizes
$font-size:        18px;
$font-size-small:  $font-size - 2px;

// Headings sizes
$font-size-h1:     48px;
$font-size-h2:     36px;
$font-size-h3:     24px;
$font-size-h4:     21px;
$font-size-h5:     18px;
$font-size-h6:     16px;