// GERAL
.container {
	position: relative;
	width: 1170px;
	margin: 0 auto;

	@include breakpoint(0, $lg) {
		width: 950px;
	}

	@include breakpoint(0, $md) {
		width: 700px;
	}

	@include breakpoint(0, $sm) {
		width: 90%;
	}
}

p, small {
	margin-bottom: 0;
}

@include breakpoint (0, $md) {
	p {
		font-size: 17px;
	}
}